<?xml version="1.0" encoding="utf-8" ?>
<menus>
  <menu>
    <name>CRM</name>
    <url>/UserCenter/Activity/ConnexMain</url>
    <icon>1013</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>iQluster</name>
    <url>/Maps/Main/Default</url>
    <icon>1010</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>leanNPI</name>
    <url>/NPI/Main/Default</url>
    <icon>1008</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>AnalytiQs</name>
    <url>/OpenBook/OB_Settings/OpenBookMenu</url>
    <icon>1002</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>iQapture</name>
    <url>/iQapture/Main/Default</url>
    <icon>1011</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>Audits</name>
    <url>/Audits/Main/Dataset/Build</url>
    <icon>1018</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>leanVMI</name>
    <url>/OpenBook/VMI/Main</url>
    <icon>1012</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>OpenBook</name>
    <url>/NewOpenbook/Main</url>
    <icon>1014</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>LabMatriQs</name>
    <url>/LabAnalysis/Main/Default</url>
    <icon>1016</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>ConsultAvila&lt;/br&gt;VIOS</name>
    <url>/VIOS/Main/Default</url>
    <icon>1017</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>Admin</name>
    <url>/Admin/Company/Information/Default</url>
    <icon>1019</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>CSIP</name>
    <url>/CSIP/Main/Default</url>
    <icon>1020</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>Help</name>
    <url>/HelpCenter/Help/Main/Default</url>
    <icon>1020</icon>
    <domain>CurrentValueChainDomain</domain>
  </menu>
  <menu>
    <name>New AnalytiQs</name>
    <url>#</url>
    <icon>1002</icon>
    <domain></domain>
  </menu>
</menus>